.demo {
  &__button {
    &_primary {
      display: inline-block;
      cursor: pointer;
      user-select: none;
      height: 32px;
      padding: 0 15px;
      font-size: 14px;
      color: green;
    }
  }
}